@page
@model TicketReservationSystem.Pages.Purchases.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Purchase details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchases.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchases.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchases.Performance)
        </dt>
        <dd class="col-sm-10">
            <a asp-page="../Performances/Details" asp-route-id="@Model.Purchases.Performance.Id">@Html.DisplayFor(model => model.Purchases.Performance.Name)</a>
        </dd>
        <dt class="col-sm-2">
            Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchases.PerformanceDate.Begins)
        </dd>
        <dt class="col-sm-2">
            Purchase created
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchases.Purchased)
        </dd>
        <dt class="col-sm-2">
            Purchase last edited
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchases.Edited)
        </dd>
        <dt class="col-sm-2">
            Seat Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchases.SeatId)
        </dd>
        <dt class="col-sm-2">
            Amount Paid
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchases.AmountPaid)
        </dd>
        <dt class="col-sm-2">
            Method
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchases.PurchaseMethod.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Purchases.Id">Edit</a> |
    <a href="javascript:history.back()">Go back</a>
</div>
