@page
@model TicketReservationSystem.Pages.Purchases.IndexModel
@using TicketReservationSystem.Authorization

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>List of purchases</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Buyer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchases[0].Performance)
            </th>
            <th>
                Date
            </th>
            <th>
                Seat number
            </th>
            <th>
                Amount paid
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchases[0].Purchased)
            </th>
            <th>
                Payment method
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Purchases)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    <a asp-page="../Performances/Details" asp-route-id="@item.Performance.Id" asp-route-returnToPage="true">@Html.DisplayFor(modelItem => item.Performance.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerformanceDate.Begins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Purchased)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseMethod.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
