@page
@model TicketReservationSystem.Pages.Purchases.ListModel

@{
    ViewData["Title"] = "List purchases";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Jūsu pirkumu saraksts</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Izrāde
            </th>
            <th>
                Datums
            </th>
            <th>
                Sēdvietas numurs
            </th>
            <th>
                Summa
            </th>
            <th>
                Ir samaksāts
            </th>
            <th>
                Apmaksas metode
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Purchases)
        {
            <tr>
                <td>
                    <a asp-page="../Performances/Details" asp-route-id="@item.Performance.Id">@Html.DisplayFor(modelItem => item.Performance.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerformanceDate.Begins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Purchased)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseMethod.Name)
                </td>
                <td>
                    <a role="button" href="#" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Printēt"><i class="fas fa-print"></i></a>                    
                </td>
            </tr>
        }
    </tbody>
</table>
