@page
@model TicketReservationSystem.Pages.Performances.DetailsModel
@using TicketReservationSystem.Authorization

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Performances.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Performances.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Performances.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Performances.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Performances.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Performances.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Performances.Theatre)
        </dt>
        <dd class="col-sm-10">
            <a asp-page="../Theatres/Details" asp-route-id="@Model.Performances.Theatre.Id">@Html.DisplayFor(model => model.Performances.Theatre.Name)</a>
        </dd>
    </dl>
</div>
<h4>Event dates</h4>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Begins
                </th>
                <th>
                    Ends
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Performances.PerformanceDates) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Begins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ends)
                </td>
                <td>
                    <a asp-page="../Purchases/New" asp-route-PerformanceId="@item.PerformanceId" asp-route-PerformanceDateId="@item.Id">Buy ticket!</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
<div>
    @if (User.IsInRole(Constants.Bookkeeper) || User.IsInRole(Constants.Administrator))
    {
        <a asp-page="./Edit" asp-route-id="@Model.Performances.Id">Edit</a> <span> |</span>
    }
    <a asp-page="./Index">Back to List</a>
</div>
