@page
@model TicketReservationSystem.Pages.Performances.IndexDatesModel
@using TicketReservationSystem.Authorization

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Izrādes "@Model.PerformanceName" datumi</h1>

<p>
    @if (User.IsInRole(Constants.Bookkeeper) || User.IsInRole(Constants.Administrator))
    {
        <a role="button" asp-page="./CreateDates" asp-route-id="@Model.PerformanceId" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Pievienot jaunu datumu"><i class="fas fa-plus"></i></a>        
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Sākums
            </th>
            <th>
                Beigas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PerformanceDates)
    {
        <tr>
            <td>
                @{
                    var startDate = item.Begins.ToString("dd/MM/yyyy HH:mm");
                    var endDate = item.Ends.ToString("dd/MM/yyyy HH:mm");
                }
                @Html.DisplayFor(modelItem => startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => endDate)
            </td>
            <td> 
                <div class="btn-group" role="group" aria-label="Izvēlne">
                    @if (item.Begins > DateTime.Now)
                    {
                        <a role="button" asp-page="../Purchases/New" asp-route-PerformanceId="@item.PerformanceId" asp-route-PerformanceDateId="@item.Id" class="btn btn-warning"><i class="fas fa-shopping-bag"></i> Pirkt</a>
                    }
                    @if (User.IsInRole(Constants.Bookkeeper) || User.IsInRole(Constants.Administrator))
                    {
                        <a role="button" asp-page="./EditDate" asp-route-id="@item.Id" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Rediģēt"><i class="far fa-edit"></i></a>
                        <a role="button" asp-page="./DeleteDate" asp-route-id="@item.Id" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Dzēst"><i class="fas fa-trash-alt"></i></a>
                    }
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-page="./Index">Atgriezties atpakaļ</a>
</div>
