@page
@model TicketReservationSystem.Pages.Performances.IndexModel
@using TicketReservationSystem.Authorization

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>List of upcoming performances</h1>

<p>
    @if (User.IsInRole(Constants.Bookkeeper) || User.IsInRole(Constants.Administrator))
    {
        <a asp-page="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Performances[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performances[0].Description)
            </th>
            <th>
                Next show
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performances[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performances[0].Theatre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Performances) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.PerformanceDates.Count() > 0)
                {
                    <span>@item.PerformanceDates.First(x => x.Begins > DateTime.Now).Begins</span>
                } else 
                {
                    <span>No shows planned :(</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theatre.Name)
            </td>
            <td>
                @if (User.IsInRole(Constants.Bookkeeper) || User.IsInRole(Constants.Administrator))
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a><span> |</span>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a><span> |</span>
                    <a asp-page="./IndexDates" asp-route-id="@item.Id">Modify dates</a><span> |</span>
                }
                @if (item.PerformanceDates.Count() > 0)
                {
                <a asp-page="../Purchases/New" asp-route-PerformanceId="@item.Id">Buy a ticket!</a><span> |</span>
                }
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
