@page
@model TicketReservationSystem.Pages.Performances.IndexDatesModel
@using TicketReservationSystem.Authorization

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Performance dates for @Model.PerformanceName</h1>

<p>
    @if (User.IsInRole(Constants.Bookkeeper) || User.IsInRole(Constants.Administrator))
    {
        <a asp-page="./CreateDates" asp-route-id="@Model.PerformanceId">Add a new date</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PerformanceDates[0].Begins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformanceDates[0].Ends)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PerformanceDates) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Begins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ends)
            </td>
            <td>
                @if (User.IsInRole(Constants.Bookkeeper) || User.IsInRole(Constants.Administrator))
                {
                    <a asp-page="./EditDate" asp-route-id="@item.Id">Edit</a><span> |</span>
                    <a asp-page="./DeleteDate" asp-route-id="@item.Id">Delete</a><span> |</span>
                }
                <a asp-page="../Purchases/New" asp-route-id="@item.Id">Buy ticket!</a>
            </td>
        </tr>
}
    </tbody>
</table>
