@page
@model TicketReservationSystem.Pages.Theatres.IndexModel
@using TicketReservationSystem.Authorization

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>List of theatres</h1>

<p>
    @if (User.IsInRole(Constants.Bookkeeper) || User.IsInRole(Constants.Administrator))
    {
        <a asp-page="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Theatres[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theatres[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theatres[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theatres[0].Seats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Theatres)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seats)
                </td>
                <td>
                    @if (User.IsInRole(Constants.Bookkeeper) || User.IsInRole(Constants.Administrator))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a><span> |</span>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a><span> |</span>
                    }
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }                
    </tbody>
</table>
